<ul>
  <li>DiceWare is a method for creating passphrases, passwords</li>
  <li>For each word in the passphrase, five rolls of the dice are required.</li>
  <li>The numbers from 1 to 6 that come up in the rolls are assembled as a five-digit number</li>
  <li>That number is then used to look up a word in a word list.</li>
  <li>By generating several words in sequence, a lengthy passphrase can be constructed</li>
</ul>
