<form>
    Number Of Words:
    <input type="number" name="numWords" id = "num">
    Separator:
    <select name="glue" id = "sep">
      <option value="space">space " "</option>
      <option value="dash">dash "-"</option>
      <option value="star">star "*"</option>
      <option value="comma">comma ","</option>
      <option value="none">none ""</option>
    </select>
    <input type="submit" value="Roll!" ><br>
    <p id='answer'></p>
</form>
